@import url('https://fonts.googleapis.com/css?family=Domine|Roboto');
@import './App.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  background-color: #91afcb;
  color: #333;
  font-style: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

p {
  font-family: $body-font;
}

span {
  font-weight: 900;
}

a {
  display: block;
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #333;
  }
}
